{{ define "main" }}
<div class="container">

{{- if not (.Param "horario") }}
<section>
  <hgroup class="text-center">
    <h2>{{.Site.Params.homepage.scheduleTitle}}</h2>
    <h3>{{.Site.Params.homepage.scheduleDescription}}</h3>
  </hgroup>
  <div class="container">
    <div class="grid">
      <div class="container" style="text-align: center;">
        <img
          src="{{.Site.Params.homepage.scheduleImgUrl}}"
          alt="{{.Site.Params.author}}"
          width="700"
          height="450"
          layout="intrinsic"
        ></img>
      </div>
    </div>
  </div>
</section>

<section>
  <hgroup class="text-center">
    <h2>{{.Site.Params.homepage.priceTitle}}</h2>
    <h3>{{.Site.Params.homepage.priceDescription}}</h3>
  </hgroup>
  <div class="container">
    <div class="grid">
      <div class="container" style="text-align: center;">
        <img
          src="{{.Site.Params.homepage.locationImgUrl}}"
          alt="{{.Site.Params.author}}"
          width="700"
          height="450"
          layout="intrinsic"
        ></img>
      </div>
    </div>
    <p> En Tenaci contamos con un Mat (tatami) teglamentario de 2 pulgadas (5cm) de grosor, lo que permite una practica segura, cuenta con un área de 50 mts2 y paredes tambien acolchonads</p>
  </div>
</section>

<section>
  <hgroup class="text-center">
    <h2>{{.Site.Params.homepage.priceTitle}}</h2>
    <h3>{{.Site.Params.homepage.priceDescription}}</h3>
  </hgroup>
  <div class="container">
    <div class="grid">
      <div class="container" style="text-align: center;">
        <img
          src="{{.Site.Params.homepage.priceImgUrl}}"
          alt="{{.Site.Params.author}}"
          width="700"
          height="450"
          layout="intrinsic"
        ></img>
      </div>
    </div>
  </div>
</section>


{{ end }}
<!---
  <hgroup>
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{- partial "post_meta.html" . -}}
    <p>{{ .Description }}</p>
  </hgroup>
  {{- if .Params.tags }} {{- range ($.GetTerms "tags") }}
  <a href="{{ .Permalink }}">
    <kbd>{{ .LinkTitle }}</kbd>
  </a>
  {{- end }} {{- end }}
  <div class="grid grid-main">    
    <div>
      {{- if (.Param "ShowToc") }}
        <article class="toc">
          {{- partial "toc.html" . }} 
        </article>
      {{- end }}
      
      {{if .Params.Cover.Image }}<img
        class="cover"
        src="{{.Params.Cover.Image | absURL}}"
        width="600"
        height="400"
        align="left"
        layout="responsive"
      >
      </img
      >{{end}}
    
      <div class="post">
        
      </div>

    </div>
    
    {{- if (.Param "ShowRelated") }} 
    <aside>
      <article>
        {{ $related := .Site.RegularPages.Related . | first 5 }} {{ with
        $related }}
        <h3>See Also</h3>

        {{ range . }}

        <a href="{{ .RelPermalink }}">
          <hgroup>
            <h4><i>{{ .Title }}</i></h4>
            <p>{{- partial "post_meta.html" . -}}</p>
          </hgroup>
        </a>

        {{ end }} {{ end }} 
      </article>
    </aside>
    {{ end }}
    
  </div>
  {{- if (.Site.Params.comments) }} {{- partial "comments.html" . }} {{- end }}
</div>
-->
{{ end }}
